﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  
}
/*-----------------------------------------------------*/

.thumbnail img {
    height: 250px;
    width: 100%;
    object-fit:cover
}

.btn {
    width: 150px;
    margin-right: 8px
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    min-height: 100%;
    margin: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}