﻿@model Image

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this photo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Name</p>
        </dt>
        <dd class = "col-sm-10">
            @Model.Name
        </dd>
        <dt class = "col-sm-2">
            <p>Location</p>
        </dt>
        <dd class = "col-sm-10">
            @Model.Location
        </dd>
        <dt class = "col-sm-2">
            <p>Date Time</p>
        </dt>
        <dd class = "col-sm-10">
            @Model.DateTime.ToShortDateString()
        </dd>
    </dl>
    
    <form asp-controller="Images" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-controller="Images" asp-action="Index" asp-route-id="@Model.AlbumId" class="btn btn-primary">Back</a>
    </form>
</div>
