﻿@model Image

@{
    ViewData["Title"] = "Details";
}
<div>
    <h1 class="text-center font-weight-bold" style="font-style:oblique;">@Model.Name</h1>
</div>
<div class="row d-flex justify-content-center">
    <h5 class="font-italic mr-2">Location:</h5>
    <h5 class="mr-4">@Model.Location</h5>
    <h5 class="font-italic mr-2">Date:</h5>
    <h5>@Model.DateTime.ToShortDateString()</h5>
</div>

@if (Model != null)
{
    string imageSource = $"data:image;base64,{Convert.ToBase64String(Model.bytePhoto)}";

    <div class="d-flex justify-content-center"><img class="img-fluid" src="@imageSource" asp-append-version="true" /></div>
}
<div class="row d-flex justify-content-center mt-4 mr-2">
    <a asp-controller="Images" asp-action="Index" asp-route-id="@Model.AlbumId" class="btn btn-primary">Back</a>
    <a asp-controller="Images" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-controller="Images" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
</div>
