﻿@model Image

@{
    ViewData["Title"] = "Edit";
    var albums = ViewData["Albums"] as IEnumerable<Album>;
}

<h1>Edit Photo</h1>
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="Images" asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label">Date Time</label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumId" class="control-label">Album</label>
                <select asp-for="AlbumId" class="custom-select">
                    @{ foreach (var item in albums)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <input type="hidden" asp-for="bytePhoto" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-controller="Images" asp-action="Index" asp-route-id="@Model.AlbumId" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
