﻿@model IEnumerable<Image>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="d-flex justify-content-between">
            <a class="btn btn-lg btn-primary" asp-controller="Images" asp-action="Create">Upload</a>
            <form class="dropdown show" asp-controller="Images" asp-action="Index" method="get">
                <button class="btn btn-lg btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Search
                </button>
                <div class="dropdown-menu">
                    <input class="dropdown-item" type="text" name="NameSearch" placeholder="Name search..." />
                    <input class="dropdown-item" type="text" name="LocationSearch" placeholder="Location search..." />
                    <input class="dropdown-item" type="text" name="DaySearch" placeholder="Day search..." />
                    <input class="dropdown-item" type="text" name="MonthSearch" placeholder="Month search..." />
                    <input class="dropdown-item" type="text" name="YearSearch" placeholder="Year search..." />
                    <div class="dropdown-divider"></div>
                    <input class="dropdown-item text-center" value="Search" type="submit" />
                </div>
            </form>
    </div>
    <div class="card-deck">
            @foreach (var item in Model)
            {
                if (item.bytePhoto != null && item.bytePhoto.Length > 0)
                {
                    string imageSource = $"data:image;base64,{Convert.ToBase64String(item.bytePhoto)}";

                    <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                        <div class="thumbnail">
                            <a asp-controller="Images" asp-action="Details" asp-route-id="@item.Id">
                                <img class="rounded img-thumbnail" src="@imageSource"
                                     asp-append-version="true" />
                            </a>
                        </div>
                    </div>
                }
            }
    </div>
    <div>
            <a asp-controller="Albums" asp-action="Index" class="btn btn-primary">Back</a>
    </div>
 </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
