﻿@model AlbumCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Album</h4>
        <form enctype="multipart/form-data" asp-controller="Albums" asp-action="Create" method="post">
            <div class="row">
                <div class="col">
                    <div class="col-8">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Images" class="control-label">Upload photos</label>
                            <div class="custom-file">
                                <input multiple asp-for="Images" class="form-control custom-file-input">
                                <label class="custom-file-label">Choose File...</label>
                                <span asp-validation-for="Images" class="text-danger"></span>
                            </div>
                        </div>  
                        <div class="form-group" style="padding-top:2em">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-controller="Albums" asp-action="Index" class="btn btn-primary">Back</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-8">
                        <div class="form-group">
                            <label asp-for="ImageName" class="control-label">Name for photos</label>
                            <input asp-for="ImageName" class="form-control" />
                            <span asp-validation-for="ImageName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageLocation" class="control-label">Location for photos</label>
                            <input asp-for="ImageLocation" class="form-control" />
                            <span asp-validation-for="ImageLocation" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageDateTime" class="control-label">Date for photos</label>
                            <input asp-for="ImageDateTime" class="form-control" />
                            <span asp-validation-for="ImageDateTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
