﻿@model IEnumerable<Album>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="d-flex justify-content-between">
        <a class="btn btn-lg btn-primary" asp-controller="Albums" asp-action="Create">Create</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" name="NameSearch" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="card-deck" >
        @foreach (var item in Model)
        {
            <div class="card m-3" style="max-width: 20%">
                <div class="card-header">
                    <h5 class="text-center">@item.Name</h5>
                </div>
                <a asp-controller="Images" asp-action="Index" asp-route-id="@item.Id">
                    <img class="card-img-top" src="~/images/folder-icon.jpg"
                         asp-append-version="true" />
                </a>
                <div class="card-footer text-center">
                    <a asp-controller="Albums" asp-action="Edit" asp-route-id="@item.Id" class="btn-lg btn-primary">Edit</a>
                    <a asp-controller="Albums" asp-action="Delete" asp-route-id="@item.Id" class="btn-lg btn-danger">Delete</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
